body {
  background-image: url("./Template2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.loginContainer {
  height: 100vh;
  width: 100vh;
  position: relative;
  left: calc(50% - 102px);
  bottom: 50%;
  display: flex;
  align-items: center;
  align-content: space-around;
}

.signupContainer {
  height: 100vh;
  width: 100vh;
  position: relative;
  left: calc(50% - 102px);
  bottom: 50%;
  display: flex;
  align-items: center;
  align-content: space-around;
}

.landingContainer {
  height: 100vh;
  width: 100vh;
  max-width: 186px;
  position: relative;
  left: calc(50% - 102px);
  bottom: 50%;
  display: flex;
  align-items: center;
  align-content: space-around;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  height: 186px;
  max-height: 186px;
  max-width: 186px;
}

.signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  height: 186px;
  max-height: 186px;
  max-width: 186px;
}

.buttondiv {
  display: flex;
  justify-content: space-evenly;
}



.PokemonSelectionContainer {
  height: 100vh;
  width: 100vh;
  position: relative;
  left: calc(50% - 102px);
  bottom: 50%;
  display: flex;
  align-items: center;
  align-content: space-around;
}
